.footer {
	align-items: center;
	background: black;
	box-sizing: border-box;
	display: flex;
	height: 18%;
	justify-content: center;
	position: absolute;
	top: 82%;
	width: 100%;
}

@media (max-width: 769px) {
  .footer {
    top: 75%;
    height: 25%;
  }
}
